body {
        background-color: lightgrey;
}

h2 {
        color: black;
        font-weight: bolder;
}

p {
        color: black;
        line-height: 200%;
}

li {
        line-height: 200%;
        color: black
}